



header {   background-color: blue;
        }

.seccion1 { background-color: rgb(20, 196, 202);
           }

.avatar { width: 10rem;

         }

.seccion2 { background-color: white;


} 

.fotos_seccion2 { width: 10rem;
               }

.seccion3 { background-color: rgb(20, 196, 202);}
